In [ ]:
install.packages("titanic")
library(titanic)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
data(titanic_train)

In [ ]:
install.packages("tidyverse")
install.packages("caret")
install.packages("mlbench")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(tidyverse)
library(caret)
library(mlbench)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Loading required package: lattice


Attaching package: ‘caret’


The following object is masked from ‘package:purrr’:

    lift

In [ ]:
## drop N/A
titanic_train = na.omit(titanic_train)
nrow(titanic_train)   #check nrows

[1] 714

In [ ]:
## factor gender
titanic_train$Sex = factor(titanic_train$Sex,
levels = c("female", "male"),
labels = c(0,1))

1. split

In [ ]:
## 1.split
set.seed(42)
n = nrow(titanic_train)
id = sample(1:n, size=n*0.7)
traindata = titanic_train[id, ]
testdata = titanic_train[-id, ]

2. train

In [ ]:
## 2.1 create train_model
train_model = glm(Survived ~ Pclass + Sex + Age + SibSp + Parch,
data = traindata,
family = "binomial")

In [ ]:
# check and clear N/A in traindata again
nrow(traindata)
traindata
traindata = na.omit(traindata)
nrow(traindata)

[1] 499

    PassengerId Survived Pclass
706 706         0        2
399 399         0        2
192 192         0        2
95   95         0        3
283 283         0        3
183 183         0        3
797 797         1        1
64   64         0        3
158 158         0        3
379 379         0        3
28   28         0        1
443 443         0        3
754 754         0        3
207 207         0        3
781 781         1        3
673 673         0        2
515 515         0        3
372 372         0        3
877 877         0        3
351 351         0        3
780 780         1        1
655 655         0        3
263 263         0        1
322 322         0        3
392 392         1        3
609 609         1        2
373 373         0        3
880 880         1        1
198 198         0        3
374 374         0        1
⋮   ⋮           ⋮        ⋮
437 437         0        3
248 248         1        2
277 277         0        3
643 643         0        3
125 125         0        1
342 342         1        1
581 581         1        2
227 227         1        2
149 149         0        2
219 219         1        1
9     9         1        3
121 121         0        2
605 605         1        1
718 718         1        2
619 619         1        2
436 436         1        1
400 400         1        2
527 527         1        2
21   21         0        2
447 447         1        2
345 345         0        2
165 165         0        3
40   40         1        3
73   73         0        2
521 521         1        1
260 260         1        2
704 704         0        3
576 576         0        3
309 309         0        2
22   22         1        2
    Name                                                  Sex Age  SibSp Parch
706 Morley, Mr. Henry Samuel ("Mr Henry Marshall")        1   39   0     0
399 Pain, Dr. Alfred                                      1   23   0     0
192 Carbines, Mr. William                                 1   19   0     0
95  Coxon, Mr. Daniel                                     1   59   0     0
283 de Pelsmaeker, Mr. Alfons                             1   16   0     0
183 Asplund, Master. Clarence Gustaf Hugo                 1    9   4     2
797 Leader, Dr. Alice (Farnham)                           0   49   0     0
64  Skoog, Master. Harald                                 1    4   3     2
158 Corn, Mr. Harry                                       1   30   0     0
379 Betros, Mr. Tannous                                   1   20   0     0
28  Fortune, Mr. Charles Alexander                        1   19   3     2
443 Petterson, Mr. Johan Emil                             1   25   1     0
754 Jonkoff, Mr. Lalio                                    1   23   0     0
207 Backstrom, Mr. Karl Alfred                            1   32   1     0
781 Ayoub, Miss. Banoura                                  0   13   0     0
673 Mitchell, Mr. Henry Michael                           1   70   0     0
515 Coleff, Mr. Satio                                     1   24   0     0
372 Wiklund, Mr. Jakob Alfred                             1   18   1     0
877 Gustafsson, Mr. Alfred Ossian                         1   20   0     0
351 Odahl, Mr. Nils Martin                                1   23   0     0
780 Robert, Mrs. Edward Scott (Elisabeth Walton McMillan) 0   43   0     1
655 Hegarty, Miss. Hanora "Nora"                          0   18   0     0
263 Taussig, Mr. Emil                                     1   52   1     1
322 Danoff, Mr. Yoto                                      1   27   0     0
392 Jansson, Mr. Carl Olof                                1   21   0     0
609 Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue) 0   22   1     2
373 Beavan, Mr. William Thomas                            1   19   0     0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)         0   56   0     1
198 Olsen, Mr. Karl Siegwart Andreas                      1   42   0     1
374 Ringhini, Mr. Sante                                   1   22   0     0
⋮   ⋮                                                     ⋮   ⋮    ⋮     ⋮
437 Ford, Miss. Doolina Margaret "Daisy"                  0   21.0 2     2
248 Hamalainen, Mrs. William (Anna)                       0   24.0 0     2
277 Lindblom, Miss. Augusta Charlotta                     0   45.0 0     0
643 Skoog, Miss. Margit Elizabeth                         0    2.0 3     2
125 White, Mr. Percival Wayland                           1   54.0 0     1
342 Fortune, Miss. Alice Elizabeth                        0   24.0 3     2
581 Christy, Miss. Julie Rachel                           0   25.0 1     1
227 Mellors, Mr. William John                             1   19.0 0     0
149 Navratil, Mr. Michel ("Louis M Hoffman")              1   36.5 0     2
219 Bazzani, Miss. Albina                                 0   32.0 0     0
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)     0   27.0 0     2
121 Hickman, Mr. Stanley George                           1   21.0 2     0
605 Homer, Mr. Harry ("Mr E Haven")                       1   35.0 0     0
718 Troutt, Miss. Edwina Celia "Winnie"                   0   27.0 0     0
619 Becker, Miss. Marion Louise                           0    4.0 2     1
436 Carter, Miss. Lucile Polk                             0   14.0 1     2
400 Trout, Mrs. William H (Jessie L)                      0   28.0 0     0
527 Ridsdale, Miss. Lucy                                  0   50.0 0     0
21  Fynney, Mr. Joseph J                                  1   35.0 0     0
447 Mellinger, Miss. Madeleine Violet                     0   13.0 0     1
345 Fox, Mr. Stanley Hubert                               1   36.0 0     0
165 Panula, Master. Eino Viljami                          1    1.0 4     1
40  Nicola-Yarred, Miss. Jamila                           0   14.0 1     0
73  Hood, Mr. Ambrose Jr                                  1   21.0 0     0
521 Perreault, Miss. Anne                                 0   30.0 0     0
260 Parrish, Mrs. (Lutie Davis)                           0   50.0 0     1
704 Gallagher, Mr. Martin                                 1   25.0 0     0
576 Patchett, Mr. George                                  1   19.0 0     0
309 Abelson, Mr. Samuel                                   1   30.0 1     0
22  Beesley, Mr. Lawrence                                 1   34.0 0     0
    Ticket          Fare     Cabin       Embarked
706 250655           26.0000             S
399 244278           10.5000             S
192 28424            13.0000             S
95  364500            7.2500             S
283 345778            9.5000             S
183 347077           31.3875             S
797 17465            25.9292 D17         S
64  347088           27.9000             S
158 SOTON/OQ 392090   8.0500             S
379 2648              4.0125             C
28  19950           263.0000 C23 C25 C27 S
443 347076            7.7750             S
754 349204            7.8958             S
207 3101278          15.8500             S
781 2687              7.2292             C
673 C.A. 24580       10.5000             S
515 349209            7.4958             S
372 3101267           6.4958             S
877 7534              9.8458             S
351 7267              9.2250             S
780 24160           211.3375 B3          S
655 365226            6.7500             Q
263 110413           79.6500 E67         S
322 349219            7.8958             S
392 350034            7.7958             S
609 SC/Paris 2123    41.5792             C
373 323951            8.0500             S
880 11767            83.1583 C50         C
198 4579              8.4042             S
374 PC 17760        135.6333             C
⋮   ⋮               ⋮        ⋮           ⋮
437 W./C. 6608       34.3750             S
248 250649           14.5000             S
277 347073            7.7500             S
643 347088           27.9000             S
125 35281            77.2875 D26         S
342 19950           263.0000 C23 C25 C27 S
581 237789           30.0000             S
227 SW/PP 751        10.5000             S
149 230080           26.0000 F2          S
219 11813            76.2917 D15         C
9   347742           11.1333             S
121 S.O.C. 14879     73.5000             S
605 111426           26.5500             C
718 34218            10.5000 E101        S
619 230136           39.0000 F4          S
436 113760          120.0000 B96 B98     S
400 240929           12.6500             S
527 W./C. 14258      10.5000             S
21  239865           26.0000             S
447 250644           19.5000             S
345 229236           13.0000             S
165 3101295          39.6875             S
40  2651             11.2417             C
73  S.O.C. 14879     73.5000             S
521 12749            93.5000 B73         S
260 230433           26.0000             S
704 36864             7.7417             Q
576 358585           14.5000             S
309 P/PP 3381        24.0000             C
22  248698           13.0000 D56         S

[1] 499

In [ ]:
# check and clear N/A in testdata again
testdata
testdata = na.omit(testdata)

    PassengerId Survived Pclass
1    1          0        3
4    4          1        1
5    5          0        3
7    7          0        1
8    8          0        3
10  10          1        2
12  12          1        1
14  14          0        3
24  24          1        1
38  38          0        3
41  41          0        3
44  44          1        2
50  50          0        3
52  52          0        3
53  53          1        1
58  58          0        3
59  59          1        2
63  63          0        1
67  67          1        2
68  68          0        3
69  69          1        3
72  72          0        3
75  75          1        3
84  84          0        1
85  85          1        2
86  86          1        3
90  90          0        3
91  91          0        3
92  92          0        3
93  93          0        1
⋮   ⋮           ⋮        ⋮
776 776         0        3
783 783         0        1
787 787         1        3
789 789         1        3
796 796         0        2
800 800         0        3
801 801         0        2
810 810         1        1
814 814         0        3
818 818         0        2
819 819         0        3
820 820         0        3
821 821         1        1
828 828         1        2
830 830         1        1
832 832         1        2
837 837         0        3
841 841         0        3
842 842         0        2
846 846         0        3
851 851         0        3
852 852         0        3
855 855         0        2
865 865         0        2
871 871         0        3
872 872         1        1
876 876         1        3
881 881         1        2
882 882         0        3
890 890         1        1
    Name                                                    Sex Age   SibSp
1   Braund, Mr. Owen Harris                                 1   22.0  1
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)            0   35.0  1
5   Allen, Mr. William Henry                                1   35.0  0
7   McCarthy, Mr. Timothy J                                 1   54.0  0
8   Palsson, Master. Gosta Leonard                          1    2.0  3
10  Nasser, Mrs. Nicholas (Adele Achem)                     0   14.0  1
12  Bonnell, Miss. Elizabeth                                0   58.0  0
14  Andersson, Mr. Anders Johan                             1   39.0  1
24  Sloper, Mr. William Thompson                            1   28.0  0
38  Cann, Mr. Ernest Charles                                1   21.0  0
41  Ahlin, Mrs. Johan (Johanna Persdotter Larsson)          0   40.0  1
44  Laroche, Miss. Simonne Marie Anne Andree                0    3.0  1
50  Arnold-Franchi, Mrs. Josef (Josefine Franchi)           0   18.0  1
52  Nosworthy, Mr. Richard Cater                            1   21.0  0
53  Harper, Mrs. Henry Sleeper (Myna Haxtun)                0   49.0  1
58  Novel, Mr. Mansouer                                     1   28.5  0
59  West, Miss. Constance Mirium                            0    5.0  1
63  Harris, Mr. Henry Birkhardt                             1   45.0  1
67  Nye, Mrs. (Elizabeth Ramell)                            0   29.0  0
68  Crease, Mr. Ernest James                                1   19.0  0
69  Andersson, Miss. Erna Alexandra                         0   17.0  4
72  Goodwin, Miss. Lillian Amy                              0   16.0  5
75  Bing, Mr. Lee                                           1   32.0  0
84  Carrau, Mr. Francisco M                                 1   28.0  0
85  Ilett, Miss. Bertha                                     0   17.0  0
86  Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson) 0   33.0  3
90  Celotti, Mr. Francesco                                  1   24.0  0
91  Christmann, Mr. Emil                                    1   29.0  0
92  Andreasson, Mr. Paul Edvin                              1   20.0  0
93  Chaffee, Mr. Herbert Fuller                             1   46.0  1
⋮   ⋮                                                       ⋮   ⋮     ⋮
776 Myhrman, Mr. Pehr Fabian Oliver Malkolm                 1   18.00 0
783 Long, Mr. Milton Clyde                                  1   29.00 0
787 Sjoblom, Miss. Anna Sofia                               0   18.00 0
789 Dean, Master. Bertram Vere                              1    1.00 1
796 Otter, Mr. Richard                                      1   39.00 0
800 Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)    0   30.00 1
801 Ponesell, Mr. Martin                                    1   34.00 0
810 Chambers, Mrs. Norman Campbell (Bertha Griggs)          0   33.00 1
814 Andersson, Miss. Ebba Iris Alfrida                      0    6.00 4
818 Mallet, Mr. Albert                                      1   31.00 1
819 Holm, Mr. John Fredrik Alexander                        1   43.00 0
820 Skoog, Master. Karl Thorsten                            1   10.00 3
821 Hays, Mrs. Charles Melville (Clara Jennings Gregg)      0   52.00 1
828 Mallet, Master. Andre                                   1    1.00 0
830 Stone, Mrs. George Nelson (Martha Evelyn)               0   62.00 0
832 Richards, Master. George Sibley                         1    0.83 1
837 Pasic, Mr. Jakob                                        1   21.00 0
841 Alhomaki, Mr. Ilmari Rudolf                             1   20.00 0
842 Mudd, Mr. Thomas Charles                                1   16.00 0
846 Abbing, Mr. Anthony                                     1   42.00 0
851 Andersson, Master. Sigvard Harald Elias                 1    4.00 4
852 Svensson, Mr. Johan                                     1   74.00 0
855 Carter, Mrs. Ernest Courtenay (Lilian Hughes)           0   44.00 1
865 Gill, Mr. John William                                  1   24.00 0
871 Balkic, Mr. Cerin                                       1   26.00 0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)        0   47.00 1
876 Najib, Miss. Adele Kiamie "Jane"                        0   15.00 0
881 Shelley, Mrs. William (Imanita Parrish Hall)            0   25.00 0
882 Markun, Mr. Johann                                      1   33.00 0
890 Behr, Mr. Karl Howell                                   1   26.00 0
    Parch Ticket           Fare    Cabin Embarked
1   0     A/5 21171         7.2500       S
4   0     113803           53.1000 C123  S
5   0     373450            8.0500       S
7   0     17463            51.8625 E46   S
8   1     349909           21.0750       S
10  0     237736           30.0708       C
12  0     113783           26.5500 C103  S
14  5     347082           31.2750       S
24  0     113788           35.5000 A6    S
38  0     A./5. 2152        8.0500       S
41  0     7546              9.4750       S
44  2     SC/Paris 2123    41.5792       C
50  0     349237           17.8000       S
52  0     A/4. 39886        7.8000       S
53  0     PC 17572         76.7292 D33   C
58  0     2697              7.2292       C
59  2     C.A. 34651       27.7500       S
63  0     36973            83.4750 C83   S
67  0     C.A. 29395       10.5000 F33   S
68  0     S.P. 3464         8.1583       S
69  2     3101281           7.9250       S
72  2     CA 2144          46.9000       S
75  0     1601             56.4958       S
84  0     113059           47.1000       S
85  0     SO/C 14885       10.5000       S
86  0     3101278          15.8500       S
90  0     343275            8.0500       S
91  0     343276            8.0500       S
92  0     347466            7.8542       S
93  0     W.E.P. 5734      61.1750 E31   S
⋮   ⋮     ⋮                ⋮       ⋮     ⋮
776 0     347078            7.7500       S
783 0     113501           30.0000 D6    S
787 0     3101265           7.4958       S
789 2     C.A. 2315        20.5750       S
796 0     28213            13.0000       S
800 1     345773           24.1500       S
801 0     250647           13.0000       S
810 0     113806           53.1000 E8    S
814 2     347082           31.2750       S
818 1     S.C./PARIS 2079  37.0042       C
819 0     C 7075            6.4500       S
820 2     347088           27.9000       S
821 1     12749            93.5000 B69   S
828 2     S.C./PARIS 2079  37.0042       C
830 0     113572           80.0000 B28
832 1     29106            18.7500       S
837 0     315097            8.6625       S
841 0     SOTON/O2 3101287  7.9250       S
842 0     S.O./P.P. 3      10.5000       S
846 0     C.A. 5547         7.5500       S
851 2     347082           31.2750       S
852 0     347060            7.7750       S
855 0     244252           26.0000       S
865 0     233866           13.0000       S
871 0     349248            7.8958       S
872 1     11751            52.5542 D35   S
876 0     2667              7.2250       C
881 1     230433           26.0000       S
882 0     349257            7.8958       S
890 0     111369           30.0000 C148  C

In [ ]:
nrow(traindata)
nrow(testdata)

[1] 499

[1] 215

In [ ]:
## 2.2 สร้าง predict ของ train & add column in traindata ชื่อ p_train
p_train = predict(train_model, type="response")
traindata$p_train = predict(train_model, type="response")

In [ ]:
## 2.3 add column : if_else ให้ปัดเป็น 0,1
traindata$pred = if_else(p_train>=0.5,1,0)

In [ ]:
## 2.4 add column : predict correct or not?
traindata$correct = if_else(traindata$Survived==traindata$pred, 1, 0)

In [ ]:
traindata

    PassengerId Survived Pclass
706 706         0        2
399 399         0        2
192 192         0        2
95   95         0        3
283 283         0        3
183 183         0        3
797 797         1        1
64   64         0        3
158 158         0        3
379 379         0        3
28   28         0        1
443 443         0        3
754 754         0        3
207 207         0        3
781 781         1        3
673 673         0        2
515 515         0        3
372 372         0        3
877 877         0        3
351 351         0        3
780 780         1        1
655 655         0        3
263 263         0        1
322 322         0        3
392 392         1        3
609 609         1        2
373 373         0        3
880 880         1        1
198 198         0        3
374 374         0        1
⋮   ⋮           ⋮        ⋮
437 437         0        3
248 248         1        2
277 277         0        3
643 643         0        3
125 125         0        1
342 342         1        1
581 581         1        2
227 227         1        2
149 149         0        2
219 219         1        1
9     9         1        3
121 121         0        2
605 605         1        1
718 718         1        2
619 619         1        2
436 436         1        1
400 400         1        2
527 527         1        2
21   21         0        2
447 447         1        2
345 345         0        2
165 165         0        3
40   40         1        3
73   73         0        2
521 521         1        1
260 260         1        2
704 704         0        3
576 576         0        3
309 309         0        2
22   22         1        2
    Name                                                  Sex Age  SibSp Parch
706 Morley, Mr. Henry Samuel ("Mr Henry Marshall")        1   39   0     0
399 Pain, Dr. Alfred                                      1   23   0     0
192 Carbines, Mr. William                                 1   19   0     0
95  Coxon, Mr. Daniel                                     1   59   0     0
283 de Pelsmaeker, Mr. Alfons                             1   16   0     0
183 Asplund, Master. Clarence Gustaf Hugo                 1    9   4     2
797 Leader, Dr. Alice (Farnham)                           0   49   0     0
64  Skoog, Master. Harald                                 1    4   3     2
158 Corn, Mr. Harry                                       1   30   0     0
379 Betros, Mr. Tannous                                   1   20   0     0
28  Fortune, Mr. Charles Alexander                        1   19   3     2
443 Petterson, Mr. Johan Emil                             1   25   1     0
754 Jonkoff, Mr. Lalio                                    1   23   0     0
207 Backstrom, Mr. Karl Alfred                            1   32   1     0
781 Ayoub, Miss. Banoura                                  0   13   0     0
673 Mitchell, Mr. Henry Michael                           1   70   0     0
515 Coleff, Mr. Satio                                     1   24   0     0
372 Wiklund, Mr. Jakob Alfred                             1   18   1     0
877 Gustafsson, Mr. Alfred Ossian                         1   20   0     0
351 Odahl, Mr. Nils Martin                                1   23   0     0
780 Robert, Mrs. Edward Scott (Elisabeth Walton McMillan) 0   43   0     1
655 Hegarty, Miss. Hanora "Nora"                          0   18   0     0
263 Taussig, Mr. Emil                                     1   52   1     1
322 Danoff, Mr. Yoto                                      1   27   0     0
392 Jansson, Mr. Carl Olof                                1   21   0     0
609 Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue) 0   22   1     2
373 Beavan, Mr. William Thomas                            1   19   0     0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)         0   56   0     1
198 Olsen, Mr. Karl Siegwart Andreas                      1   42   0     1
374 Ringhini, Mr. Sante                                   1   22   0     0
⋮   ⋮                                                     ⋮   ⋮    ⋮     ⋮
437 Ford, Miss. Doolina Margaret "Daisy"                  0   21.0 2     2
248 Hamalainen, Mrs. William (Anna)                       0   24.0 0     2
277 Lindblom, Miss. Augusta Charlotta                     0   45.0 0     0
643 Skoog, Miss. Margit Elizabeth                         0    2.0 3     2
125 White, Mr. Percival Wayland                           1   54.0 0     1
342 Fortune, Miss. Alice Elizabeth                        0   24.0 3     2
581 Christy, Miss. Julie Rachel                           0   25.0 1     1
227 Mellors, Mr. William John                             1   19.0 0     0
149 Navratil, Mr. Michel ("Louis M Hoffman")              1   36.5 0     2
219 Bazzani, Miss. Albina                                 0   32.0 0     0
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)     0   27.0 0     2
121 Hickman, Mr. Stanley George                           1   21.0 2     0
605 Homer, Mr. Harry ("Mr E Haven")                       1   35.0 0     0
718 Troutt, Miss. Edwina Celia "Winnie"                   0   27.0 0     0
619 Becker, Miss. Marion Louise                           0    4.0 2     1
436 Carter, Miss. Lucile Polk                             0   14.0 1     2
400 Trout, Mrs. William H (Jessie L)                      0   28.0 0     0
527 Ridsdale, Miss. Lucy                                  0   50.0 0     0
21  Fynney, Mr. Joseph J                                  1   35.0 0     0
447 Mellinger, Miss. Madeleine Violet                     0   13.0 0     1
345 Fox, Mr. Stanley Hubert                               1   36.0 0     0
165 Panula, Master. Eino Viljami                          1    1.0 4     1
40  Nicola-Yarred, Miss. Jamila                           0   14.0 1     0
73  Hood, Mr. Ambrose Jr                                  1   21.0 0     0
521 Perreault, Miss. Anne                                 0   30.0 0     0
260 Parrish, Mrs. (Lutie Davis)                           0   50.0 0     1
704 Gallagher, Mr. Martin                                 1   25.0 0     0
576 Patchett, Mr. George                                  1   19.0 0     0
309 Abelson, Mr. Samuel                                   1   30.0 1     0
22  Beesley, Mr. Lawrence                                 1   34.0 0     0
    Ticket          Fare     Cabin       Embarked p_train    pred correct
706 250655           26.0000             S        0.17529661 0    1
399 244278           10.5000             S        0.32155058 0    1
192 28424            13.0000             S        0.36675049 0    1
95  364500            7.2500             S        0.01720161 0    1
283 345778            9.5000             S        0.13120757 0    1
183 347077           31.3875             S        0.04138625 0    1
797 17465            25.9292 D17         S        0.90538050 1    1
64  347088           27.9000             S        0.07738954 0    1
158 SOTON/OQ 392090   8.0500             S        0.06965657 0    1
379 2648              4.0125             C        0.10999462 0    1
28  19950           263.0000 C23 C25 C27 S        0.44000634 0    1
443 347076            7.7750             S        0.05980602 0    1
754 349204            7.8958             S        0.09611556 0    1
207 3101278          15.8500             S        0.04286838 0    1
781 2687              7.2292             C        0.74530983 1    1
673 C.A. 24580       10.5000             S        0.04301640 0    1
515 349209            7.4958             S        0.09184870 0    1
372 3101267           6.4958             S        0.08285653 0    1
877 7534              9.8458             S        0.10999462 0    1
351 7267              9.2250             S        0.09611556 0    1
780 24160           211.3375 B3          S        0.92988121 1    1
655 365226            6.7500             Q        0.69490709 1    0
263 110413           79.6500 E67         S        0.25095756 0    1
322 349219            7.8958             S        0.08005334 0    1
392 350034            7.7958             S        0.10518332 0    0
609 SC/Paris 2123    41.5792             C        0.85257265 1    1
373 323951            8.0500             S        0.11499772 0    1
880 11767            83.1583 C50         C        0.87361766 1    1
198 4579              8.4042             S        0.04039841 0    1
374 PC 17760        135.6333             C        0.68953755 1    0
⋮   ⋮               ⋮        ⋮           ⋮        ⋮          ⋮    ⋮
437 W./C. 6608       34.3750             S        0.47426085 0    1
248 250649           14.5000             S        0.88778175 1    1
277 347073            7.7500             S        0.37051075 0    1
643 347088           27.9000             S        0.60721065 1    0
125 35281            77.2875 D26         S        0.31428660 0    1
342 19950           263.0000 C23 C25 C27 S        0.91068234 1    1
581 237789           30.0000             S        0.82904908 1    1
227 SW/PP 751        10.5000             S        0.36675049 0    0
149 230080           26.0000 F2          S        0.20231025 0    1
219 11813            76.2917 D15         C        0.95732375 1    1
9   347742           11.1333             S        0.60430394 1    1
121 S.O.C. 14879     73.5000             S        0.18639515 0    1
605 111426           26.5500             C        0.53654053 1    1
718 34218            10.5000 E101        S        0.86606372 1    1
619 230136           39.0000 F4          S        0.90183563 1    1
436 113760          120.0000 B96 B98     S        0.97467625 1    1
400 240929           12.6500             S        0.86014276 1    1
527 W./C. 14258      10.5000             S        0.67125760 1    1
21  239865           26.0000             S        0.20618575 0    1
447 250644           19.5000             S        0.93046882 1    1
345 229236           13.0000             S        0.19810347 0    1
165 3101295          39.6875             S        0.05911920 0    1
40  2651             11.2417             C        0.64795007 1    1
73  S.O.C. 14879     73.5000             S        0.34379698 0    1
521 12749            93.5000 B73         S        0.96123627 1    1
260 230433           26.0000             S        0.67689622 1    1
704 36864             7.7417             Q        0.08775287 0    1
576 358585           14.5000             S        0.11499772 0    1
309 P/PP 3381        24.0000             C        0.18077951 0    1
22  248698           13.0000 D56         S        0.21450957 0    0

In [ ]:
## 2.5 calculate mean accuracy of trained group
mean(traindata$Survived==traindata$pred)     # train's mean accuracy = 81.36%

[1] 0.8136273

In [ ]:
## create confusion matrix of trained group
confuse = table(traindata$pred,  traindata$Survived,  dnn = c("predicted", "actual"))
confuse

         actual
predicted   0   1
        0 256  52
        1  41 150

In [ ]:
## calculate accuracy (train)
accuracy = (confuse[1,1]+confuse[2,2])/nrow(traindata)
accuracy

[1] 0.8136273

In [ ]:
## calculate precision (train)
precision = confuse[2,2]/(confuse[2,1]+confuse[2,2])
precision

[1] 0.7853403

In [ ]:
## calculate recall (train)
recall = confuse[2,2] / (confuse[1,2]+confuse[2,2])
recall

[1] 0.7425743

In [ ]:
## calculate F1 (train)
 F1 = 2 * ( (precision*recall) / (precision+recall ) )
 F1

[1] 0.7633588

3. test

In [ ]:
## 3.2 สร้าง predict ของ test & add column in testdata ชื่อ p_test
p_test = predict(train_model, newdata=testdata, type="response")
testdata$p_test = predict(train_model, newdata=testdata, type="response")

In [ ]:
## 3.3 add column : if_else ให้ปัดเป็น 0,1
testdata$pred = if_else(p_test>=0.5,1,0)

In [ ]:
## 3.4 add column : predict correct or not?
testdata$correct = if_else(testdata$Survived==testdata$pred,1,0)

In [ ]:
## 3.5 calculate mean accuracy
mean(testdata$Survived==testdata$pred)   # test's mean accuracy = 80%

[1] 0.8

In [ ]:
## create confusion matrix of tested group
confuse_test = table(testdata$pred,  testdata$Survived,  dnn = c("predicted", "actual"))
confuse_test

         actual
predicted   0   1
        0 110  26
        1  17  62

In [ ]:
## calculate accuracy (test)
accuracy_test = (confuse_test[1,1]+confuse_test[2,2])/nrow(testdata)
accuracy_test

[1] 0.8

In [ ]:
## calculate precision (test)
precision_test = confuse_test[2,2]/(confuse_test[2,1]+confuse_test[2,2])
precision_test

[1] 0.7848101

In [ ]:
## calculate recall (test)
recall_test = confuse_test[2,2] / (confuse_test[1,2]+confuse_test[2,2])
recall_test

[1] 0.7045455

In [ ]:
## calculate F1 (test)
 F1_test = 2 * ( (precision_test*recall_test) / (precision_test+recall_test ) )
 F1_test

[1] 0.742515

4. evaluate : Trained model is better because it provides higher accuracy, precision, recall, and F1 score.